/*
 * SPDX-FileCopyrightText: 2025 Tom Hubrecht <github@mail.hubrecht.ovh>
 *
 * SPDX-License-Identifier: EUPL-1.2
 */

@charset "utf-8";

$dark: rgb(46, 46, 46);

@use "bulma" with (
  $primary: #f39e60,
  $success: #cce0ac,
  $warning: #fff8c9,
  $danger: #ff8a8a,
  $info: #d2e0fb,
  $link: rgb(72, 95, 199),
  $dark: $dark,
  $duration: 114ms
);

.u-tag {
  width: 35px;
}

.s-tag {
  width: 55px;
}

.pkg {
  overflow-y: hidden;

  padding-bottom: 0.25rem !important;
  margin-bottom: 0.25rem !important;

  &:not(:last-child) {
    border-bottom: 1px solid;
  }

  .versions {
    overflow-x: scroll;
    margin-left: 0.25rem;
  }
}

label.diff {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 9em;
}

td.date {
  width: 15em;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: normal !important;
}

.deployments {
  max-height: 15em;
  overflow-y: scroll;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("../assets/fonts/AtkinsonHyperlegibleMono-Regular.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("../assets/fonts/AtkinsonHyperlegibleNext-Regular.woff2")
    format("woff2");
  font-display: swap;
}
