@charset "utf-8";

/*! bulma.io v1.0.4 | MIT License | github.com/jgthms/bulma */
$dark: rgb(46, 46, 46);

/*! bulma.io v1.0.0 | MIT License | github.com/jgthms/bulma */
@use "sass" with (
  $primary: #f39e60,
  $success: #cce0ac,
  $warning: #f0eaac,
  $danger: #ff8a8a,
  $info: #d2e0fb,
  $link: rgb(72, 95, 199),
  $dark: $dark
);

.u-tag {
  width: 35px;
}

.s-tag {
  width: 55px;
}

.pkg {
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 0.5rem !important;
}

label.diff {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  width: 9em;
}

td.date {
  width: 15em;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: normal !important;
}

.deployments {
  max-height: 15em;
  overflow-y: scroll;
}

@font-face {
  font-family: "Atkinson Hyperlegible Mono";
  src: url("../assets/fonts/AtkinsonHyperlegibleMono-Regular.woff2")
    format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Atkinson Hyperlegible Next";
  src: url("../assets/fonts/AtkinsonHyperlegibleNext-Regular.woff2")
    format("woff2");
  font-display: swap;
}
